.movia{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    opacity: 0; /* Hiệu ứng mờ dần*/
    visibility: hidden; /* ẩn element */
    pointer-events: none;
    transition: opacity , visibility;
    transition-duration: .3s;
    z-index: 1000;
}

.movia--show{
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Nhận các sự kiện event*/
}

.movia--show .movia__container{
    transform: scale(1);
}

.movia__container{
    position: relative;
    width: min(600px, 90%);
    max-height: 90%;
    overflow-y: auto;
    padding: 28px;
    border-radius: 10px;
    background: #fff;
    transform: scale(0);
    transition: transform .3s;
}

.movia__close{
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 5px 10px;
    border-radius: 50%;
    color: #666;
    background: #ebebeb;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.movia__close:hover{
    color: #333;
    background: red
}


/* Footer */
.movia__content{
    max-height: 80vh;
    overflow-y: auto;
}

.movia__footer{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding-top: 20px;
}

.movia--no-scroll{
    overflow: hidden;
}